
/* .hamburger-top-open {
    transform: translate(0, 30px) rotate(225deg);
}

.hamburger-middle-open {
    transform: translate(-20px, 0);
    opacity: 0;
}

.hamburger-bottom-open {
    transform: translate(0, -1px) rotate(-225deg);
} */





.menuArrow-top-closed {
    transform: rotate(-35deg);
    transition: 300ms;
}

.menuArrow-bottom-closed {
    transform: rotate(35deg);
    transition: 300ms;
}

.open-menu {
    transform: translate(0.5rem, 0);
    transition: 300ms;
}
